<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {
      packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawElevationChart);

    function drawElevationChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Distance');
      data.addColumn('number', 'Elevation');
      data.addColumn('number', 'Angle');
      data.addColumn('number', 'Speed');
      data.addRows([[${elevations}]]);

      var options = {
        width: 1600,
        height: 800,

        legend: 'none',
        crosshair: { trigger: 'selection' },

        series: {
          0: {
            targetAxisIndex: 0,
            lineWidth: 5
            },
          1: {
            targetAxisIndex: 1,
            type: 'scatter',
            pointsVisible: false,
            enableInteractivity: false
          }
        },

        vAxes: {
          0: {title: 'Elevation'},
          1: {title: 'Speed'}
        },

        hAxis: {
          title: 'Distance'
        },

        trendlines: { 1:
            {
                type: 'polynomial',
                degree: 12,
                lineWidth: 10,
                opacity: 0.2,
                enableInteractivity: false
            }
        }
      };

      var dataView = new google.visualization.DataView(data);
      dataView.setColumns([
        // reference existing columns by index
        0, 1,
        // add function for line color
        {
          calc: function(data, row) {
            var validAngle = '#0000FF';
            var invalidAngle = '#FF0000';

            if ((data.getValue(row, 2) >= 20) || (data.getValue(row, 2) <= -20)) {
              return invalidAngle;
            }
            return validAngle;
          },
          type: 'string',
          role: 'style'
        }, 3
      ]);

      var chart = new google.visualization.LineChart(document.getElementById('elevation_chart'));
      chart.draw(dataView, options);
    }



    </script>
</head>
<body>

<div id="elevation_chart"></div>

</body>
</html>